img.flip {
  transform: rotate(90deg);
  padding: 50px;

}

img.flippie {
  transform: rotate(180deg);
  padding: 50px;

}

.column {
  width: 33%;
  float:left;
  }

.column p img{
  display: block;
}
